/*
Theme Name: JustWrite Child
Theme URI: http://www.acosmin.com/
Description: Child theme for the JustWrite theme
Author: Alexandru Cosmin
Modified by: UPIR Core Team
Author URI: http://wp.zacgordon.com/
Template: justwrite
Version: 1.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* TODO @palcu: check why w/out the import it doesn't work in Presslabs  */
@import "../justwrite/style.css";

/* Header */

.header-social-icons {
  display: none !important;
}

/* Post */

.post-template-1, .single-template-1 {
  margin-bottom: 0px;
}

.fb-like {
  margin-bottom: 45px;
}

.social-post-plugin {
  display: block;
}

/* Footer */

#footer-widget-2 {
  clear: both;
}

.footer-wrap {
    padding-top: 0;
    padding-bottom: 10px;
}

/* Posts */

.post-thumbnail {
    background-color: #fff;
}

.post-thumbnail img {
    width: 85%;
}

.logo.logo-image .description {
    font-size: 80px;
    color: #fff;
}