/*
Theme Name: JustWrite Child
Theme URI: http://www.acosmin.com/
Description: Child theme for the JustWrite theme
Author: Alexandru Cosmin
Modified by: UPIR Core Team
Author URI: http://wp.zacgordon.com/
Template: justwrite
Version: 1.0
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* TODO @palcu: check why w/out the import it doesn't work in Presslabs  */
@import "../justwrite/style.css";

/* Header */

.moto {
  clear: both;
}

.header-social-icons {
  display: none !important;
}

.logo.logo-image .description {
  font-size: 80px;
  color: #fff;
}

.top.logo-text {
  min-height: 200px;
}

.logo.logo-text {
  font-family: 'Open Sans', 'Questrial', sans-serif;
  font-size: 39px;
  letter-spacing: 7px;
  font-weight: bold;
  text-transform: none;
}

.logo.logo-text h2 {
 font-size: 20px;
 color: #FFF;
}

/* Menu Item Implica-te */

#menu-item-140 {
  /* XXX @palcu: because we use display: inline */
  padding-left: 10px;
}

#menu-item-140 a {
  display: inline;
  margin: 0 10px;
  padding: 10px 0;

  background-color: #9F2122;
  color: #fff;
}

#menu-item-140 a:hover {
  color: #eee;
}

@media screen and (max-width: 768px) {
  #menu-item-140 {
    padding-left: 0;
  }
  /* XXX @palcu: looks ugly unaligned, but it's consistent */
  #menu-item-140 a {
    margin: 0;
    padding: 10px;
  }
}

/* Post */

.fb-like {
  margin-bottom: 45px;
}

.social-post-plugin {
  display: block;
}

/* Footer */

#footer-widget-2 {
  clear: both;
}

.footer-wrap {
  padding-top: 0;
  padding-bottom: 10px;
}

/* Posts */

.post-thumbnail {
  background-color: #fff;
}

.post-thumbnail img {
  width: 85%;
}

.posts-wrap {
  padding: 0 15px 0 0;
}

.single-template-1 .single-content {
  border-top-width: 3px;
}

.post-content {
  padding-left: 0px;
}
